* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.header {
  background-image: url(Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 158px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  height: 151px;
}
.btn-primary {
  background-color: #4e47ff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 36px;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}
body {
  background-color: #f5f8ff;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.logo {
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}
.banner-text {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 37px;
  line-height: auto;
}
.banner-description {
  width: 905px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 152px;
}
.action {
  margin: 116px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
}
.action-info {
  text-align: left;
  width: 517px;
}
.action-title {
  color: #252432;
  font-size: 42px;
  font-weight: 700;
  line-height: auto;
  margin-bottom: 23px;
}
.action-subtitle {
  color: #252432;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 23px;
}
.action-image {
  border-radius: 48px;
  width: 403px;
}
.productive-title {
  font-size: 38px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 40px;
}
.productive-info {
  display: flex;
  justify-content: space-between;
}
.item-title {
  font-size: 80px;
  font-weight: 700;
  color: #4e47ff;
}
.item-subtitle {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.productive-users {
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  height: 306px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 137px;
}
.productive-container {
  margin: 50px 80px;
}
.subscribe {
  max-width: 1140px;
  margin: 93px auto 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.form-description {
  font-size: 90px;
  font-weight: 700;
  color: #000000;
  width: 528px;
  text-align: left;
}
.form-elements {
  display: flex;
  flex-direction: column;
  gap: 19px;
  max-width: 500px;
  width: 100%;
}
.form-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-button {
  width: 100%;
}
.get-in-touch-btn {
  background-color: #4e47ff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  padding: 19px;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}
input,
textarea {
  width: 100%;
  padding: 20px 32px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}
textarea {
  color: rgba(0, 0, 0, 0.5);
  resize: none;
}
